/* global styles */
:root {
}

* {
    /* border: 1px solid black; */
}

body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}


/* styling for left pane */
.left-side {
    height: 100vh;
    width: 35vw;
    background-image: url(/andrea-leopardi-nwROzyFBB64-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15vh;
    width: 100%;
    font-size: 50px;
    color: white;
    background-color: rgb(0,0,0,0.7);
    padding: 10px 0px;
}

.left-side p {
    position: relative;
    top: 75vh;
    font-weight: 700;
    color: white;
}

h1 {
    opacity: initial;
    margin: 0px;
}

img {
    height: 140px;
}


/* styles for right pane */
.right-side {
    height: 100vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-block {
    width: 750px;
    margin-top: 8vh;
}

.message-block  p{
    margin-left: 5%;
    font-size: 24px;
    font-weight: 700;
}

/* form styles */
.form-container {
    margin-top: 4vh;
    width: 750px;
    border-radius: 12px;
    /* border: 1px solid  gray; */
    box-shadow: 0px 0px 7px black;
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

h2 {
    width: 90%;
    margin-left: 5%;
    font-size: 32px;
}

.input-set {
    margin-left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.input-set div {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.input-set label {
    font-size: 14px;
    margin-bottom: 1%;
}

.input-set div input {
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid gray;
}

/* submit button and bottom text */

.submit-block {
    width: 90%;
    margin-top: 7%;
    margin-left: 5%;
}

.submit-block button {
    width: 170px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 900;
    background-color: rgb(59, 163, 227, 1);
    color: white;
    border: none;
    /* box-shadow:  0px 0px 5px black; */
    letter-spacing: 1px;
}

.submit-block p {
    font-weight: 600;
}

/* psuedo styles */

input:focus {
    outline-color: #3ba3e3;
}

input:valid {
    outline-color: #28d160;
}

input:invalid {
    outline-color: red;
}

input:hover {
    box-shadow: 0px 0px 1px black;
}

.submit-block button:hover {
    box-shadow: 0px 0px 3px black;
}

.submit-block button:active {
    transform: scale(1.05);
}