/* global styles */

body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}


/* styling for left pane */
.left-side {
    width: 35vw;
    background-image: url(andrea-leopardi-nwROzyFBB64-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15vh;
    width: 100%;
    font-size: 50px;
    color: white;
    background-color: rgb(0,0,0,0.7);
    padding: 10px 0px;
}

.left-side p {
    text-align: center;
    box-sizing: border-box;
    width: 80%;
    position: relative;
    top: 70%;
    font-weight: 700;
    color: white;
}

h1 {
    opacity: initial;
    margin: 0px;
}

img {
    height: 140px;
}


/* styles for right pane */
.right-side {
    /* height: 100vh; */
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-block {
    width: 750px;
    margin-top: 8vh;
    box-sizing: border-box;
}

.message-block p {
    margin-left: 5%;
    font-size: 24px;
    font-weight: 700;
    box-sizing: border-box;
}

/* form styles */
.form-container {
    margin-top: 4vh;
    width: 750px;
    border-radius: 12px;
    box-shadow: 0px 0px 7px black;
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

h2 {
    width: 90%;
    margin-left: 5%;
    font-size: 32px;
}

.input-set {
    margin-left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.input-set div {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}


.input-set label {
    font-size: 14px;
    margin-bottom: 1%;
}

.input-set div input {
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #808080;
}

.error-message {
    margin: 0px;   
    font-size: 12px;
    color: red;
    visibility: hidden;
}

ul.error-message {
    padding-left: 20px;
}

.input-set div {
    position: relative;
    width: 306px;
}

.input-set span {
    position: absolute;
    top: 29%;
    left: 83%;
    color: #8c8c8c;
}

.input-set .password-container input {
    width: 240px;
    padding-right: 62px;
}

/* submit button and bottom text */

.submit-block {
    width: 90%;
    margin-top: 4%;
    margin-left: 5%;
}

.submit-block button {
    width: 170px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 900;
    background-color: rgb(59, 163, 227, 1);
    color: white;
    border: none;
    letter-spacing: 1px;
}

.submit-block p {
    font-weight: 600;
}

/* pseudo class styles */
input:valid {
    outline-color: #28d160;
}

.input-set div .error {
    border: 2px solid red;
    outline: none;
}

.error + .error-message {
    visibility: visible;
}

input:hover {
    box-shadow: 0px 0px 1.5px black;
}

.submit-block button:hover {
    box-shadow: 0px 0px 3px black;
    cursor: pointer;
}

.submit-block button:active {
    transform: scale(1.05);
}

.input-set div:focus-within span {
    visibility: visible;
}

.input-set span:hover {
    cursor: pointer;
}

/* media */

@media (max-width: 1200px) {
    .left-side header{
        font-size: 36px;
    }

    .left-side {
        width: 20vw;
    }

    .left-side header  {
        flex-direction: column;
    }

    .left-side p {
        top: 65vh;
    }

    /* .left-side  */

    .right-side {
        width: 80vw;
    }
}

@media (max-width: 1000px) {
    body {
        flex-direction: column;
    }

    /* left pane styles */
    .left-side {
        width: 100%;
        height: max(30vh, 200px);
        justify-content: space-between;
    }

    .left-side header {
        position: static;
        flex-direction: row;
        height: max(100px, 50%);
    }

    .left-side img {
        scale: 0.7;
    }

    .left-side h1 {
        font-size: 50px;
    }

    .left-side p {
        position: static;
    }

    /* right pane styles */
    .right-side {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .right-side {
        height: 125vh;
    }

    .form-container {
        width: 400px;
    }

    form {
        align-items: center;
        width: 300px;
    }

    .input-set {
        flex-direction: column;
    }

    .right-side .message-block {
        width: 80%;
    }

    .right-side .message-block p {
        width: 80%;
    }

    /* toggle buttons */
    .right-side .input-set span {
        top: 31px;
    }

    .submit-block {
        margin-top: 10%;
    }
}

@media (max-width: 440px) {
    /* left pane styles */
    .left-side {
        height: 40vh;
    }
    /* right pane styles */
    .right-side {
        height: 150vh;
    }
    .form-container {
        width: 280px;
    }

    form {
        width: 280px;
    }

    .input-set div input {
        width: 230px;
    }

    .input-set div {
        width: 240px;
    }

    .input-set .password-container input {
        width: 168px;
        padding-right: 62px;
    }
    /* toggle buttons */
    .input-set .password-container span {
        left: 75%;
    }
}